#body{
	margin-top: 100px;
	padding: 30px;
}
#menu li{
	font-weight: bolder;
}

.error{
	color:red;
}
#footer{
	padding: 20px;
	font-size: 9pt;
}
/* gallery */
#keyword {
	display: inline-block;
	width: 300px;
}
.gray{
	color:#8f8f8f;
	font-size: 0.7em;
}
.margin-auto{
	 margin:0 auto;
}

.avata{
	width: 50px;
}
.avata-small{
	width: 30px;
}
.avata-large{
	width: 100px;
}

